body {
  font-family: 'Helvetica Neue', sans-serif;
  width: 760px;
  margin: 40px auto;
}

h1, h2 {
  color: #444;
  margin-bottom: 2px;
  letter-spacing: 0.02em;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 2px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}

h2 {
  font-size: 12px;
  font-weight: 200;
}

.header {
  width: 600px;
  margin: 0 auto;
}

.title {
  float: left;
}

.panel {
  float: right;
  font-weight: 300;
  margin-right: -40px;
}

.panel-counter {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: rgb(235,56,38);
  font-size: 52px;
  margin-top: -4px;
}

.panel-counter-value {
  display: inline-block;
  margin-right: -5px;
}

.panel-counter-symbols {
  display: inline-block;
  text-align: center;
}

.panel-counter-symbols-updown {
  font-size: 13px;
  margin-bottom: -6px;
}

.panel-counter-symbols-pct {
  font-size: 28px;
}

.panel-text {
  display: inline-block;
  color: #888;
  font-size: 12px;
  max-width: 120px;
  margin: 0 6px;
}

.layer {
  cursor: pointer;
}

.g-axis path {
  display: none;
}

.g-axis line {
  shape-rendering: crispEdges;
  stroke: #ccc;
}

.g-axis text {
  font: 12px sans-serif;
  font-weight: lighter;
  fill: #bbb;
  text-anchor: start;
}

.label {
  fill: white;
  opacity: 0.95;
  alignment-baseline: middle;
  letter-spacing: 0.02em;
  font-size: 13px;
  pointer-events: none;
  font-weight: 500;
}

.label-updown {
  font-size: 13px;
}

.label-value {
  font-family: 'Oswald' sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.label-units {
  font-weight: 200;
  font-size: 13px;
}